*{
    padding: 5px;
    margin: 0;
}
    body {
        font-family: Arial, sans-serif;
        text-align: center;
        background-color: skyblue;
      }
      
      form {
        width: 300px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
      }
      
      label {
        display: block;
        margin-bottom: 5px;
      }
      
      input[type="text"],
      input[type="number"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
      
      button {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-right: 5px;
      }
      
      button:hover {
        background-color: #45a049;
      }
p{
    color: black;
}
h1{
    color:black ;
}
.result-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .result-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .result-value {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  .result-description {
    font-size: 16px;
    text-align: justify;
    margin-bottom: 20px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
  }
  .btn{
    cursor: pointer;
    margin: 10px;
  }
  
  .button:hover {
    background-color: #45a049;
  }